<div class="main">
  <app-nav></app-nav>
  <div class="image-div">
    <div class="searchDiv">
      <h1>THE WORLD IS WAITING</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Koji grad želite posjetiti?</mat-label>
        <input id="search" (input)="onInputChange($event)" matInput placeholder="Ex. Madrid" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="card-container">
    <app-destination-card *ngFor="let destination of filteredDestinations" [destination]="destination"
      [basicUser]="true"></app-destination-card>
  </div>
  <!-- <app-footer></app-footer>     -->
  <!-- <div class="bottom-element">
    Ovo je element na dnu stranice.
  </div> -->
  <br/><br/><br/>
  <app-footer></app-footer>
</div>